HELP.md

# ======================================================= #
### Build & Test ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

dist/
!**/src/main/**/dist/
!**/src/test/**/dist/

target/
!**/src/main/**/target/
!**/src/test/**/target/

build/
!**/src/main/**/build/
!**/src/test/**/build/

test-output/

# ======================================================= #
### Node ###
node_modules/

### Maven ###
.mvn/*
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/maven-wrapper.jar

### Gradle ###
.gradle
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache

### CMake ###
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# ======================================================= #
### Scala ###
.bsp/

### Python ###
venv/
__pycache__/
*.py[cod]
*$py.class

# ======================================================= #
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ======================================================= #
### Mac OS ###
.DS_Store

# ======================================================= #
### Miscelaneous ###
tmp/
temp/
*.tmp
*.swp
*.cache
*.cover
*.log
*.bak
*.backup

# ======================================================= #