[user]
  name = Bao. Dang
  email = YOUR_EMAIL

[core]
  autocrlf = input
  fileMode = false
  #editor = YOUR_PREFERRED_EDITOR
  #excludesfile = ~/.gitignore  # Global
  #preloadIndex = true

[init]
  defaultBranch = main

[credential]
  helper = store

[alias]
  st = status
  ci = commit
  co = checkout
  br = branch

#[commit]
  #gpgSign = true  # Set to true to sign commits
  #signingkey = YOUR_GPG_KEY_ID  # Replace with your GPG key ID
