---
# https://clang.llvm.org/docs/ClangFormat.html

BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 8
AccessModifierOffset: -4

TabWidth: 4
UseTab: Never

InsertBraces: true
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

EmptyLineAfterAccessModifier: Always
EmptyLineBeforeAccessModifier: Always
