[user]

[core]
  editor = vim
  autocrlf = input
  fileMode = false

[init]
  defaultBranch = main

[credential]
  helper = store

[alias]
  st = status
  ci = commit
  co = checkout
  br = branch

[push]
  default = current

[pull]
  default = current
